.App {
  font-family: monospace;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.card {
  width: calc(33.33% - 10px);
  margin: 10px;
  padding: 15px;
  background-color: #141e46;
  color: #fff5e0;
  border-radius: 20px;
}

.answer {
  background-color: #bb2525;
  color: #fff5e0;
}
